@model WebFront.Models.AcademicDegrees.AcademicDegreeViewModel
@using WebFront.Constants;
<b>@(ViewData["Title"] = "Академическая степень")</b>
<br />

@if (IncludeModels.UserIdentitiesTools.GetUserIsAdminClaimValue(User ?? throw new UnauthorizedAccessException()))
{
    @Html.ActionLink("Редактировать", $"Edit", routeValues: new {ID = Model.ID})
    <br>
    <br>
}
<td>@Html.ActionLink("Ставки", $"Assignments", new {id = Model.ID})</td>

<table>
    <tr>
        <td>
            Код
        </td>
        <td>
             @Html.DisplayTextFor(m => m.ID)
        </td>
    </tr>
    <tr>

        <td>
            Наименование
        </td>
        <td>
            @Html.DisplayTextFor(m => m.Name)
        </td>
    </tr>
</table>