@model MonthReportViewModel
@using WebFront.Models.Contracts;
<b>
    @(ViewData["Title"] = "Изменение отчета")
</b>
<br />
@{
    string? Identifier = ViewBag.Identifier;
    <table>
        <tr>
            <td>Договор</td>
            <td>@Html.ActionLink(Identifier ?? Model.ContractID.ToString(), $"Get", new {Id = Model.ContractID})</td>
        </tr>
        <tr>
            <td>Год</td>
            <td>@Model.Year</td>
        </tr>
        <tr>
            <td>Месяц</td>
            <td>@Model.Month</td>
        </tr>
    </table>
}

@using (var a = Html.BeginForm("EditMonthReport", "Contracts", FormMethod.Post))
{
    Logic.Models.MonthReports.MonthReportsUntakenTimeModel? uval = ViewBag.MaxVals;
    
    <table>
        <tr>
            @if (uval != null)
            {
                <th class="brd"></th>
            }
            <th class="brd">Лекции</th>
            <th class="brd">Практические занятия</th>
            <th class="brd">Лабораторные занятия</th>
            <th class="brd">Консультации</th>
            <th class="brd">Иное учебное занятие</th>
            <th class="brd">Зачеты</th>
            <th class="brd">Экзамены</th>
            <th class="brd">Курсовая работа, курсовой проект</th>
            <th class="brd">Собеседование</th>
            <th class="brd">Контрольная работа, реферат</th>
            <th class="brd">Стажировка</th>
            <th class="brd">Дипломный проект, дипломная работа</th>
            <th class="brd">Рецензирование дипломных проектов, работ, маг. диссертаций</th>
            <th class="brd">ГЭК</th>
            <th class="brd">Руководство магистрантами</th>
            <th class="brd">Учебная работа с аспирантами</th>
            <th class="brd">Демонстрация пластических поз</th>
            <th class="brd">Сопровождение тестирования</th>
        </tr>
        <tr>
            @if (uval != null)
            {
                <td class="brd">Максимальные значения</td>
                <td class="brd">@uval.LectionsTime</td>
                <td class="brd">@uval.PracticalClassesTime</td>
                <td class="brd">@uval.LaboratoryClassesTime</td>
                <td class="brd">@uval.ConsultationsTime</td>
                <td class="brd">@uval.OtherTeachingClassesTime</td>
                <td class="brd">@uval.CreditsTime</td>
                <td class="brd">@uval.ExamsTime</td>
                <td class="brd">@uval.CourseProjectsTime</td>
                <td class="brd">@uval.InterviewsTime</td>
                <td class="brd">@uval.TestsAndReferatsTime</td>
                <td class="brd">@uval.InternshipsTime</td>
                <td class="brd">@uval.DiplomasTime</td>
                <td class="brd">@uval.DiplomasReviewsTime</td>
                <td class="brd">@uval.SECTime</td>
                <td class="brd">@uval.GraduatesManagementTime</td>
                <td class="brd">@uval.GraduatesAcademicWorkTime</td>
                <td class="brd">@uval.PlasticPosesDemonstrationTime</td>
                <td class="brd">@uval.TestingEscortTime</td>
            }
        </tr>
        <tr>
            @Html.HiddenFor(m =>m.ContractID)
            @Html.HiddenFor(m =>m.Year)
            @Html.HiddenFor(m =>m.Month)
            @if (uval != null)
            {
                <td class="brd"> </td>
            }
            <td class="brd"><input type="number" name=@nameof(Model.LectionsTime) value=@Model.LectionsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.LectionsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.PracticalClassesTime) value=@Model.PracticalClassesTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.PracticalClassesTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.LaboratoryClassesTime) value=@Model.LaboratoryClassesTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.LaboratoryClassesTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.ConsultationsTime) value=@Model.ConsultationsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.ConsultationsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.OtherTeachingClassesTime) value=@Model.OtherTeachingClassesTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.OtherTeachingClassesTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.CreditsTime) value=@Model.CreditsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.CreditsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.ExamsTime) value=@Model.ExamsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.ExamsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.CourseProjectsTime) value=@Model.CourseProjectsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.CourseProjectsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.InterviewsTime) value=@Model.InterviewsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.InterviewsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.TestsAndReferatsTime) value=@Model.TestsAndReferatsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.TestsAndReferatsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.InternshipsTime) value=@Model.InternshipsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.InternshipsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.DiplomasTime) value=@Model.DiplomasTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.DiplomasTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.DiplomasReviewsTime) value=@Model.DiplomasReviewsTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.DiplomasReviewsTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.SECTime) value=@Model.SECTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.SECTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.GraduatesManagementTime) value=@Model.GraduatesManagementTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.GraduatesManagementTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.GraduatesAcademicWorkTime) value=@Model.GraduatesAcademicWorkTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.GraduatesAcademicWorkTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.PlasticPosesDemonstrationTime) value=@Model.PlasticPosesDemonstrationTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.PlasticPosesDemonstrationTime}")></td>
            <td class="brd"><input type="number" name=@nameof(Model.TestingEscortTime) value=@Model.TestingEscortTime step="0.01" @(uval == null ? string.Empty : $"max= {uval.TestingEscortTime}")></td>
        </tr>
    </table>
    <input type="submit" value="Подтвердить" />
}